APP_NAME="Go Notebook"
APP_URL="http://127.0.0.1:8000"
OPEN_REGISTRATION=true
AUTH_JWT_SECRET=1234567890123456
REFRESH_JWT_SECRET=1234567890123456
SQLITE_DB_PATH=database/db.sqlite
MAIL_SMTP_HOST=sandbox.smtp.mailtrap.io
MAIL_SMTP_PORT=2525
MAIL_SMTP_FROM_EMAIL=donotreply@example.com
MAIL_SMTP_USER=
MAIL_SMTP_PASSWORD=
IMAGE_UPLOAD_DIR=uploads/images
DOCUMENT_UPLOAD_DIR=uploads/documents
MEILISEARCH_HOST=http://meilisearch:7700
MEILISEARCH_MASTER_KEY=my-master-key